<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Series2</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<!-- NavBar --> 
		
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark" id='navigation' style='height: 100px;'>
		<div class='container-fluid'>
			<a class="navbar-brand" href="#">
				<%= image_tag('seriesletters.png') %> 
			</a>
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainNav">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse"  id="mainNav">
				<ul class="navbar-nav mr-auto ml-auto" style='right: 0px; position: absolute;'>
					<li class="nav-item">
						<%= link_to "Home", root_path, :class=> "nav-link" %>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/home/index/#products">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/home/index/#about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/home/index/#contactus">Contact Us</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

<!-- End Nav Bar -->

			<%= yield %>
	
		<div class='container-fluid black' style='margin-top: 30px;'>
			<div class='container'>
				<div class='row text-white'>
					<div class='col-sm-4 center'>
						<h4>Navigation</h4>
						<ul class='footer-nav'>
							<li class='footer-nav'><a class='active' href='#'>Home</a></li>
							<li class='footer-nav'><a href='#'>SERIES 22</a></li>
							<li class='footer-nav'><a href='#'>About</a></li>
							<li class='footer-nav'><a href='#'>Contact Us</a></li>
							<li class='footer-nav'><a href='#'>Partners</a></li>
							<li class='footer-nav'><a href='#'>Sitemap</a></li>
						</ul>
					</div>
					<div class='col-sm-4 center'>
						<%= image_tag('logo.png', :height=>'100') %>
					</div>
					<div class='col-sm-4 center'>
						<h4>Partners</h4>
						<ul class='footer-nav'>
							<li class='footer-nav'><a class='active' href='#'>BRCC</a></li>
							<li class='footer-nav'><a href='#'>Hidden Wounds</a></li>
							<li class='footer-nav'><a href='#'>Mission 22</a></li>
							<li class='footer-nav'><a href='#'>Active Heroes</a></li>
							<li class='footer-nav'><a href='#'>Nine Line Apparel</a></li>
							<li class='footer-nav'><a href='#'>Hope for the Warriors</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>







		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

  </body>
</html>
