<!DOCTYPE html>
<html>
  <head>
    <title>Series</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<div class="box">
		<div class="row header gray">
			<div class='flex-div'></div>
			<div class='center'>
				<div class='flex-div'>
					<%= image_tag 'logo.png', :height=> "100" %>
				</div>
				<div id='menu-div' class='conthrax'>
					<ul class='header-nav'>
						<li class='header-nav'><a href='#'>HOME</a></li>
						<li class='header-nav'><a href='#'>SERIES 22</a></li>
						<li class='header-nav'><a href='#'>ABOUT</a></li>
						<li class='header-nav'><a href='#'>CONTACT US</a></li>
					</ul>
				</div>
			</div>
			<div class='flex-div'></div>
		</div>
		<div class="row content">
			<div class='flex-div white'></div>
			<div class='center white'>
				<div class='flex-div text-left text-center conthraxlarge'>
				<br>
				<br>
					<%= image_tag 'seriesletters.png', :height=> '70' %>
					<br><br>
					In 2013, the United States Department of Veterans Affairs released a study that covered suicides from 1999 to 2010, 
					which showed that roughly 22 veterans were dying by suicide per day, or one ever 65 minutes. Help us fight from 22 to none.
					<br>
					<br>
					<br>
					<%= image_tag 'button.png' %>
				</div>
				<div class='flex-div text-right'>
					<%= image_tag 'sippy.png', :height=> '500' %>
				</div>
			</div>
			<div class='flex-div white'></div>
		</div>
		<div class="row footer">
			<div class='flex-div white'>
			</div>
			<div class='center white a-right'>
				<%= image_tag 'Mock-Up_09.gif' %>
			</div>
			<div class='flex-div red'>
				
			</div>
		</div>
	</div>
	<div class="box red">
		<div class="row content">
			<div class='flex-div red'>
				
			</div>
			<div class='center red text-left conthrax'><br><br>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et scelerisque sem, a ultricies sem. Suspendisse vitae tortor tortor. Donec pulvinar dictum porttitor. Mauris pharetra nisl sapien, at posuere arcu molestie nec. Ut egestas arcu et interdum mollis. Cras congue venenatis nulla, sit amet laoreet odio vestibulum et. Pellentesque vitae vestibulum diam, at feugiat metus. Cras tempus aliquam nulla ac fermentum. Curabitur a enim urna. Pellentesque ac massa nec libero consectetur bibendum. Proin sit amet augue et metus blandit convallis. Mauris sit amet mi vulputate nibh venenatis dapibus.

Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus porttitor ipsum a urna dictum, a semper ligula ultrices. Mauris tortor turpis, accumsan at vehicula vel, luctus a mi. Mauris ac ante sollicitudin, rutrum libero et, sollicitudin lacus. In quis aliquet urna, a blandit turpis. Nullam tincidunt pretium quam, sit amet facilisis sem gravida et. Phasellus quis dui in enim feugiat ullamcorper.

Donec enim metus, rhoncus quis sodales in, commodo non turpis. Duis egestas pellentesque vehicula. Vivamus mollis eleifend eros. Duis tristique lectus non ullamcorper pharetra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque sit amet diam eget metus posuere fringilla. Nulla id feugiat mi.

Vivamus sed nulla a turpis posuere tincidunt quis vitae libero. Nam euismod et odio vitae finibus. Donec id maximus arcu. Suspendisse elementum ipsum a sapien bibendum, at fringilla quam malesuada. Fusce elementum semper commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque ac eros elit.

Etiam accumsan magna ante, vitae congue enim hendrerit ac. Vestibulum quis diam non urna posuere porttitor. Vivamus imperdiet, risus id semper aliquam, augue felis blandit urna, vitae molestie leo odio at enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis malesuada leo lectus, in consectetur felis facilisis vitae. Nullam dapibus mauris id odio accumsan, et lobortis risus hendrerit. Pellentesque vel libero augue.

Aliquam vitae euismod arcu, ut egestas justo. Phasellus tincidunt cursus nulla in vulputate. Proin urna mi, placerat mattis metus ut, lobortis tristique ante. Quisque hendrerit lacus varius vulputate egestas. Donec odio eros, fermentum nec pharetra tincidunt, maximus eu orci. Suspendisse placerat ultricies erat eu ornare. Proin in consectetur eros, et tempor sem. Nunc euismod sed metus faucibus tincidunt. Donec non volutpat arcu. Integer at ultricies dui.
<br>
Nam vitae enim sed felis fringilla bibendum dignissim eget sem. Sed laoreet dignissim ligula, quis rutrum orci scelerisque quis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus a sem et urna volutpat pulvinar. Suspendisse luctus enim pulvinar, viverra orci at, pretium nisl. Nunc accumsan accumsan diam sed tempor. Phasellus pharetra ut massa ac pharetra.
<br>
Donec feugiat, augue in maximus pretium, erat quam rutrum ante, nec hendrerit est mi a ante. Vivamus eleifend diam ac mollis dictum. Cras nec luctus elit. Nulla in aliquet arcu. Nullam porta tempus urna vitae finibus. Nullam lacinia pharetra convallis. Cras eros neque, ornare a dapibus quis, congue vel velit. Fusce vel quam non elit lobortis pharetra eget eu lectus. In gravida congue facilisis. Ut ac turpis in sapien euismod elementum.
<br>
Morbi nec lectus tellus. Aliquam pharetra, dolor id porta lacinia, ipsum nulla tempor odio, vitae porta nunc sapien et tellus. Nam sed iaculis ante. Phasellus urna leo, efficitur auctor justo id, scelerisque placerat dui. Etiam aliquam porttitor lacus quis semper. Nullam ornare tincidunt consectetur. Curabitur sit amet scelerisque quam. Pellentesque vestibulum posuere nunc vel fringilla. Nunc vitae est cursus, hendrerit ex sit amet, egestas odio. Ut lobortis ullamcorper consectetur.
<br>
Duis dictum ultricies felis ut commodo. Donec est enim, consequat vel sollicitudin et, molestie ac lorem. Phasellus risus diam, faucibus sed velit nec, porta eleifend metus. Praesent volutpat sodales imperdiet. Aenean in dictum nulla, sed imperdiet diam. Vestibulum tristique, dolor eu convallis malesuada, magna purus ultricies nisl, tempor congue felis dolor a turpis. Sed sed pharetra dolor. Aenean blandit, diam in tincidunt tristique, ligula urna ornare ante, et cursus tellus libero quis elit.
<br>
Duis nec nunc bibendum, ultricies ante non, hendrerit metus. Nulla eget tempus dui, in congue nulla. Nullam viverra venenatis quam. Nulla sapien arcu, rutrum in egestas at, condimentum a metus. Donec vehicula tincidunt lectus in sagittis. Nunc sagittis blandit metus sit amet vehicula. Nam dictum justo vitae rhoncus mattis.
<br>
Pellentesque dictum facilisis ligula ac volutpat. Ut non ornare eros. Donec efficitur porttitor pharetra. Nullam ullamcorper eget magna sit amet egestas. Proin convallis risus vitae tortor finibus, fringilla porta elit lobortis. Nam tincidunt nulla arcu, nec blandit leo consequat vel. Nam rhoncus lobortis leo, faucibus ornare dolor molestie id. Fusce arcu arcu, bibendum vel justo quis, vehicula venenatis leo. Nullam imperdiet ultrices lacus, in dapibus leo euismod ut. Etiam malesuada malesuada suscipit. Sed gravida, justo non mollis ultricies, tortor enim ultrices ipsum, nec imperdiet arcu est sit amet justo. Vestibulum euismod in nunc nec cursus. Quisque finibus tincidunt elit ac bibendum. Fusce auctor luctus elit, in mattis eros scelerisque at. Morbi non risus sed tortor ullamcorper aliquet faucibus quis arcu.
<br>
Donec ullamcorper convallis sem, eu sodales ex eleifend vitae. Suspendisse sit amet sodales velit, ac aliquam dui. Morbi in justo sed enim ornare convallis et rutrum orci. Nulla euismod consectetur ex in tincidunt. Nam ultricies augue sed dui commodo auctor. Aenean pellentesque interdum mollis. Proin nulla libero, luctus a libero a, consectetur ultricies libero. Pellentesque condimentum id turpis nec fringilla. Suspendisse eget massa aliquet lectus aliquam dignissim.<br><br>


			</div>
			<div class='flex-div red'>
				
			</div>
		</div>
		<div class="row footer">
			<div class='flex-div tan'>
				
			</div>
			<div class='center red a-left'>
				<%= image_tag 'Mock-Up_17.gif' %>
			</div>
			<div class='flex-div red'>
				
			</div>
		</div>
	</div>
	<div class="box">
		<div class="row content tan">
			<div class='flex-div'>
				
			</div>
			<div class='center text-left conthrax'>
			<br>
				Maecenas in sapien in felis rhoncus ornare. Vestibulum condimentum aliquam sem nec dictum. Donec ac elit vitae massa sodales finibus. Nullam tempus tincidunt lorem, a dictum dui tristique a. Integer sed odio eu elit mattis luctus non eget ex. Proin a porta turpis. Fusce malesuada dictum tincidunt. Vestibulum eu ex efficitur, volutpat urna non, tincidunt elit. Vivamus nec dui eget justo porta lobortis quis eget sapien. Cras nec ipsum eget lorem varius accumsan ut fermentum mauris. Mauris vel mi sit amet ligula ullamcorper mollis vitae non nisi. Aenean in porta magna. Mauris vitae est vitae metus mollis venenatis eget sed augue. Nulla id mauris convallis, sodales tortor in, interdum lorem.
				<br>
  				In sit amet lorem nisi. Curabitur auctor vehicula facilisis. Sed bibendum, odio eget tincidunt fermentum, est tortor dignissim ipsum, non laoreet ipsum libero eget eros. Maecenas ultrices eleifend consequat. Aliquam accumsan eu massa eget tempor. Sed non ante porttitor, tincidunt tellus vitae, imperdiet mi. Cras elementum tortor et justo pellentesque luctus. Pellentesque enim dolor, tempor at eros in, venenatis mollis mi. Aenean nisi mi, vulputate nec congue ut, aliquam ut libero. Nulla blandit feugiat turpis vel fermentum. Vestibulum sed congue libero. Maecenas a pharetra augue. Etiam et tempus risus, sit amet dictum eros. Praesent elit mi, scelerisque laoreet fringilla nec, euismod vitae dolor. Nullam condimentum, nisi at aliquam malesuada, risus dui porta neque, non accumsan justo magna id mauris<br><br><br>
			</div>
			<div class='flex-div'>
				
			</div>
		</div>
		<div class="row footer gray conthrax">
			<div class='flex-div gray'>
				
			</div>
			<div class='center gray'>
				<div class='flex-div'>
					<ul class='footer-nav'>
						<li class='footer-nav'><a class='active' href='#'>Home</a></li>
						<li class='footer-nav'><a href='#'>SERIES 22</a></li>
						<li class='footer-nav'><a href='#'>About</a></li>
						<li class='footer-nav'><a href='#'>Contact Us</a></li>
						<li class='footer-nav'><a href='#'>Partners</a></li>
						<li class='footer-nav'><a href='#'>Sitemap</a></li>
					</ul>
				</div>
				<div class='flex-div'>
					<%= image_tag 'logo.png', :height=> '200' %>
				</div>
				<div class='flex-div text-top'>
					Partners
				</div>
			</div>
			<div class='flex-div gray'>
				
			</div>		
		</div>
	</div>
	<%= yield %>
</body>
</html>